{% extends 'main/layout.html' %}

{% block title %}
    Mefis: Catalog
{% endblock %}

{% block content %}
    {% include "main/includes/header.html" %}
    <div class="cart-wrapper">
        <div class="your-cart">
            <h3>Ваша корзина</h3>
        </div>
        <div class="cart-summary">
            <div class="item-summary">
                <h3 class="item-photo">
                    Фото
                </h3>
                <h3 class="item-name">
                    Назва товару
                </h3>
                <h3 class="item-total-price">
                    Вартість
                </h3>
            </div>
            {#                {% for items in cart_items %}#}
            {#                {% endfor %}#}
            <div class="cart-item">
                {% for items in products %}
                <div class="cart-item-wrapper">
                    <div class="item-image">
                        <img src="{{ items.photo.url }}" alt="img">
                    </div>
                    <div class="item-name-quantity">
                        <h3 class="cart-name">{{ items.name }}</h3>
                        <h3 class="cart-quantity">Кількість: </h3>
                    </div>
                    <div class="item-price">
                        <h3>{{ items.price }} грн</h3>
                        <button class="delete-button">Видалити</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="total-cost">
            <h3>Загальна вартість: </h3>
            <div class="cost">
                <h3>грн</h3>
            </div>
        </div>
    </div>
    {% include "main/includes/footer.html" %}
{% endblock %}