{% extends 'main/layout.html' %}

{% block title %}
    Mefis: Catalog
{% endblock %}

{% block content %}
    {% include "main/includes/header.html" %}
    <div class="cart-wrapper">
        <div class="your-cart">
            <h3>Ваша корзина</h3>
        </div>
        <div class="cart-summary">
            <div class="item-summary">
                <h3 class="item-photo">
                    Фото
                </h3>
                <h3 class="item-name">
                    Назва товару
                </h3>
                <h3 class="item-total-price">
                    Вартість
                </h3>
            </div>
            {#                {% for items in cart_items %}#}
            {#                {% endfor %}#}
            <div class="cart-item">
                {% for item in items %}
                    {% if item.quantity != 0 %}
                <div class="cart-item-wrapper">
                    <div class="item-image">
                        <img src="{{ item.product.photo.url }}" alt="img">
                    </div>
                    <div class="item-name-quantity">
                        <h3 class="cart-name ">{{ item.product.name }}</h3>
                        <h3 class="cart-quantity">Кількість: {{ item.quantity }}</h3>
                    </div>
                    <div class="item-price">
                        <h3>{{ item.price }} грн</h3>
                        <button class="delete-button" id="{{ item.product.id }}"  value="{{ item.product.id }}">Видалити</button>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="total-cost">
            <h3>Загальна вартість: </h3>
            <div class="cost">
                <h3>{{ cart.total }} грн</h3>
            </div>
        </div>
        <div class="purchase-button">
            <button class="button-purchase">Оплатити</button>
        </div>
    </div>
    {% include "main/includes/footer.html" %}
{% endblock %}