{% extends 'main/layout.html' %}

{% block title %}
    Mefis: Catalog
{% endblock %}

{% block content %}

    <script>
        $(function () {
            $(".category-operator").on("change", function () {
                var hash = $(".category-operator:checked").map(function () {
                    return this.value;
                }).toArray();
                hash = hash.join("|");
                location.hash = hash;
                alert(hash);
            });
            if (location.hash !== "") {
                var hash = location.hash.substr(1).split("|");
                hash.forEach(function (value) {
                    $("input[value=" + value + "]").prop("checked", true)
                });
            }
            return hash;
        });
    </script>


    {% include "main/includes/header.html" %}
    <div class="catalog">
        <div class="categories">

            <div class="catalog-responsive-options">
                <input type="checkbox" id="menu-catalog-toggle">
                <label for="menu-catalog-toggle" class="menu-catalog-icon"><img class="filter-image" src="../../static/main/img/filter.png"></label>

                <ul class="menu-catalog">

                    <li>
                        <h3 class="categories">Категорії</h3>
                        {% for category in categories %}
                            <form>
                                <input id="html{{ category.name }}" type="checkbox" class="category-operator"
                                       value="{{ category.name }}"
                                       onclick="window.location.href='?category={{ category.name }}'">
                                <label for="html{{ category.name }}">{{ category.name }}</label>
                            </form>
                        {% endfor %}
                        <h3 class="sub-category">Підкатегорії</h3>
                        {% for subcategory in subcategories %}
                            <form>
                                <input id="html{{ subcategory.name }}" type="checkbox"
                                       onclick="window.location.href='?subcategory={{ subcategory.name }}'">
                                <label for="html{{ subcategory.name }}">{{ subcategory.name }}</label>
                            </form>
                        {% endfor %}</li>
                </ul>
            <p class="filter-text">Фільтри</p>
            </div>

            <div class="sorting-menu">
                <input type="checkbox" id="sorting-menu-toggle">

                <label for="sorting-menu-toggle" class="sorting-menu-icon"><img class="sorting-image" src="../../static/main/img/up-down.png"></label>
                <ul class="sorting-catalog">
                    <li>
                        <h3 class="categories">Сортування</h3>

                        {% for category in categories %}
                            <form>
                                <input id="html{{ category.name }}" type="checkbox" class="category-operator"
                                       value="{{ category.name }}"
                                       onclick="window.location.href='?category={{ category.name }}'">
                                <label for="html{{ category.name }}">{{ category.name }}</label>
                            </form>
                        {% endfor %}</li>
                </ul>
                <p class="sorting-text">Сортування</p>
            </div>


        </div>

        <div class="shop-grid">
            {% for products in product %}
                <a href="product?name={{ products.name }}">
                    <div class="product-wrapper">

                        <div class="product-photo">
                            <img src="{{ products.photo.url }}">
                        </div>
                        <div class="product-text">
                            <div class="product-text-name">
                                <h1>{{ products.name }}</h1>
                            </div>
                            <div class="product-text-price">
                                <h1>{{ products.price }} грн</h1>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include "main/includes/footer.html" %}
{% endblock %}

{#{% extends 'main/layout.html' %}#}
{##}
{#{% block title %}#}
{#    Mefis: Catalog#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% include "main/includes/header.html" %}#}
{#    <div class="catalog">#}
{#        <div class="categories">#}
{#            <h3>Категорії</h3>#}
{#            {% for category in categories %}#}
{#                <form>#}
{#                    <input id="html{{ category.name }}" type="checkbox"#}
{#                           onclick="window.location.href='?category={{ category.name }}'">#}
{#                    <label for="html{{ category.name }}">{{ category.name }}</label>#}
{#                </form>#}
{#            {% endfor %}#}
{#            <h3 class="sub-category">Підкатегорії</h3>#}
{#            {% for subcategory in subcategories %}#}
{#                <form>#}
{#                    <input id="html{{ subcategory.name }}" type="checkbox"#}
{#                           onclick="window.location.href='?subcategory={{ subcategory.name }}'">#}
{#                    <label for="html{{ subcategory.name }}">{{ subcategory.name }}</label>#}
{#                </form>#}
{#            {% endfor %}#}
{##}
{##}
{#        </div>#}
{##}
{#        <div class="shop-grid">#}
{#            {% for products in product %}#}
{#                <a>#}
{#                    <div class="product-wrapper">#}
{#                        <div class="product-photo">#}
{#                            <img src="{{ products.photo.url }}">#}
{#                        </div>#}
{#                        <div class="product-text">#}
{#                            <div class="product-text-name">#}
{#                                <h1>{{ products.name }}</h1>#}
{#                            </div>#}
{#                            <div class="product-text-price">#}
{#                                <h1>{{ products.price }}</h1>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{##}
{#    {% include "main/includes/footer.html" %}#}
{#{% endblock %}#}