{% extends 'main/layout.html' %}

{% block title %}
    Mefis: Catalog
{% endblock %}

{% block content %}
    {% include "main/includes/header.html" %}
    <div class="catalog">
        <div class="categories">
            <h3>Категорії</h3>
            {% for category in categories %}
                <form>
                    <input id="html{{ category.name }}" type="checkbox"
                           onclick="window.location.href='?category={{ category.name }}'">
                    <label for="html{{ category.name }}">{{ category.name }}</label>
                </form>
            {% endfor %}
            <h3 class="sub-category">Підкатегорії</h3>
            {% for subcategory in subcategories %}
                <form>
                    <input id="html{{ subcategory.name }}" type="checkbox"
                           onclick="window.location.href='?subcategory={{ subcategory.name }}'">
                    <label for="html{{ subcategory.name }}">{{ subcategory.name }}</label>
                </form>
            {% endfor %}


        </div>

        <div class="shop-grid">
            {% for products in product %}
                <a>
                    <div class="product-wrapper">
                        <div class="product-photo">
                            <img src="{{ products.photo.url }}">
                        </div>
                        <div class="product-text">
                            <div class="product-text-name">
                                <h1>{{ products.name }}</h1>
                            </div>
                            <div class="product-text-price">
                                <h1>{{ products.price }}</h1>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include "main/includes/footer.html" %}
{% endblock %}