{% extends 'main/layout.html' %}


{% block title %}
    Main page
{% endblock %}

{% block content %}
    {% include "main/includes/header.html" %}
  <div class="main-banner">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="header-text">
                      <h2>Створи свій дім мрії</h2>
                      <h6>Купуйте меблі онлайн за вигідними цінами, стильними меблями та декором ля дому</h6>
                      <div class="white-button">
                          <a href="#">Discover More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<div class="home-demo">
  <h3>Нові товари</h3>
    <h1>Щойно прибули</h1>
  <div class="owl-carousel owl-theme">
      <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>

    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
    <div class="wrapper">
          <div class="item">
              <a href="catalog.html">
                  <div class="item-description">
                      <h2>Зелений стілець</h2>
                      <h2>$100.25</h2>
                      <i class="arrow right"></i>
                  </div>
              </a>
              <div class="item-description-2">
                  <h2>
                      Этот текст содержит в себе информацию о данном товаре
                  </h2>
              </div>
          </div>
      </div>
  </div>
</div>

    <div class="six-categories">
        <div class="item">
            <div class="item-description">

            </div>
        </div>
        <div class="item">
            <div class="item-description">

            </div>
        </div>
        <div class="item">
            <div class="item-description">

            </div>
        </div>
        <div class="item">
            <div class="item-description">
                asdasd
            </div>
        </div>
        <div class="item">
            <div class="item-description">

            </div>
        </div>
        <div class="item">
            <div class="item-description">

            </div>
        </div>
    </div>



    <section id="email-subscription">
           <article class="welcome">
             <h2>don't miss our letters</h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, beatae.</p>
              <form action="">
                 <input type="email" name="" id="" placeholder="enter your email ...">
                   <input type="submit" value="join us">
              </form>
          </article>
 </section>
    {% include "main/includes/footer.html" %}
{#    <section class="dreams-page">#}
{#        <div class="user-menu">#}
{#            <ul>#}
{#                <a href="" class="website-name">Mefis</a>#}
{#                <div class="user-menu-options">#}
{#                    <a href="index.html"><li>Стільці</li></a>#}
{#                    <a href="catalog.html"><li>Столи</li></a>#}
{#                    <a href="catalog.html"><li>Лампи</li></a>#}
{#                    <a href="catalog.html"><li>Ліжко</li></a>#}
{#                    <a href="catalog.html"><li>Диван</li></a>#}
{#                </div>#}
{##}
{#                <div class="user-menu-buttons">#}
{#                    <img src="/main/static/main/img/icons8-search-30.png">#}
{#                    <img src="/main/static/main/img/icons8-shopping-bag-30.png">#}
{#                </div>#}
{#            </ul>#}
{#        </div>#}
{##}
{#        <div class="dreams-true">#}
{#            <div class="inspiring-text">#}
{#                <h1>СТВОРИ СВІЙ ДІМ МРІЇ</h1>#}
{#            </div>#}
{##}
{#            <div class="dreams-description">#}
{#                <h3>Купуйте меблі онлайн за вигідними цінами, стильними меблями та декором для дому</h3>#}
{#            </div>#}
{##}
{#            <div class="circle">#}
{#                <div class="circle-text"><a href="">Відкрийте для себе</a></div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}
{##}
{#    <div class="new-products">#}
{#        <button class="left-arrow"><img src="/main/static/main/img/arrow-89-32.png"></button>#}
{#        <div class="item">box-1</div>#}
{#        <div class="item">box-2</div>#}
{#        <div class="item">box-3</div>#}
{#        <div class="item">box-4</div>#}
{#        <div class="item">box-5</div>#}
{#        <div class="item">box-6</div>#}
{#        <div class="item">box-7</div>#}
{#        <div class="item">box-8</div>#}
{##}
{#    </div>#}
{##}
{#    <div class="some-products-categories">#}
{#        <div class="category-item">#}
{#            <button type="button" class="button-on-hover"></button>#}
{#        </div>#}
{#        <div class="category-item">#}
{#            <button type="button" class="button-on-hover"></button>#}
{#        </div>#}
{#        <div class="category-item">#}
{#            <button type="button" class="button-on-hover"></button>#}
{#        </div>#}
{#        <div class="category-item">#}
{#            <button type="button" class="button-on-hover"></button>#}
{#        </div>#}
{#        <div class="category-item">#}
{#            <button type="button" class="button-on-hover"></button>#}
{#        </div>#}
{#        <div class="category-item">#}
{#            <button type="button" class="button-on-hover"></button>#}
{#        </div>#}
{##}
{#    </div>#}
{% endblock %}

