{% extends 'main/layout.html' %}


{% block title %}
    Mefis: Main Page
{% endblock %}

{% block content %}

    {% include "main/includes/header.html" %}
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-text">
                        <h2>Створи свій дім мрії</h2>
                        <h6>Купуйте меблі онлайн за вигідними цінами, стильними меблями та декором ля дому</h6>
                        <div class="white-button">
                            <a href="#">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "main/includes/carousel.html" %}

    <div class="six-categories">
        {% for product in products_six %}
            <div class="category">
                <img src="{{ product.pic }}">
                <a href="catalog.html">
                    <div class="category-name">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="white-button-category">
                        <a href="#">Дізнатися</a>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>



    <section id="email-subscription">
        <div class="welcome">
            <h2>Підписатися на розсилання</h2>
            <p>Введіть електрону адресу та отримайте знижку 10% на ваше наступне замовлення</p>
            <form action="">
                <input type="email" name="" id="" placeholder="Введіть вашу пошту">

                <button class="email-button"><i class="arrow-2 right"></i></button>
            </form>
        </div>
    </section>
    {% include "main/includes/footer.html" %}
{% endblock %}

