{% extends 'main/layout.html' %}


{% block title %}
    Mefis: Product
{% endblock %}

{% block content %}
    <script src="../../static/main/js/carousel-product.js"></script>
    {% include "main/includes/header.html" %}
    <div class="product-page">
        <div class="product-images">
            <div class="product-demo">
                <div class="owl-one owl-carousel owl-theme">
                    <div class="item">
                        <h2>Swipe</h2>
                    </div>
                    <div class="item">
                        <h2>Drag</h2>
                    </div>
                    <div class="item">
                        <h2>Responsive</h2>
                    </div>
                </div>
            </div>
                <div class="small-image-1">
                    <img src="{{ head_product_images[0].photo.url }}">
                </div>
                <div class="small-image-2">
                    <img src="{{ head_product_images[1].photo.url }}">
                </div>
                <div class="big-image">
                    <img src="{{ head_product_images[2].photo.url }}" alt="gg">
                </div>
        </div>
        <div class="product-name">

            <div class="name-and-category">

                <h5>{{ head_product.name }}</h5>
                <p>{{ head_product.category }}</p>

            </div>
            <div class="price">
                <p>{{ head_product.price }} грн</p>
            </div>
        </div>
        <div class="product-description">
            <p>{{ head_product.description }}</p>
        </div>
        {#            {% endfor %}#}
        <div class="product-options">
            <div class="size-option">
                <div class="option-name">
                    <h3>Розміри</h3>
                </div>
                <div class="option-setting">
                    <p>см. 100 х 15 х 13</p>
                </div>
                <div class="select-option">
                    <input type="checkbox" id="options-toggle-size">
                    <label for="options-toggle-size" class="options-menu-icon">
                        <i class="selector-arrow"></i>
                    </label>
                    <ul class="options-menu">
                        <li><p>см.150х60х13</p></li>
                        <li><p>см.150х60х13</p></li>
                        <li><p>см.150х60х13</p></li>

                    </ul>
                </div>
            </div>
            <div class="fabric-option">
                <div class="option-name">
                    <h3>Оббивка</h3>
                </div>
                <div class="option-setting">
                    <p>Поліестер</p>
                </div>
                <div class="select-option">
                    <input type="checkbox" id="options-toggle-fabric">
                    <label for="options-toggle-fabric" class="options-menu-icon">
                        <i class="selector-arrow"></i>
                    </label>
                    <ul class="options-menu">
                        <li><p>см.150х60х13</p></li>
                        <li><p>см.150х60х13</p></li>
                        <li><p>см.150х60х13</p></li>
                    </ul>

                </div>
            </div>
            <div class="add-to-cart-options">
                <div class="quantity">
                    <button id="increment-btn" class="button-plus" onclick="increment()">+</button>
                    <h2 id="counter-value">1</h2>
                    <button id="decrement-btn" class="button-minus" onclick="decrement()">-</button>
                </div>
                <div class="add-button">
                    <button class="add-to-cart-button"><p>Додати до кошику</p></button>
                </div>
            </div>
        </div>

    </div>

    <div class="product-demo-others">
        <h2>Вам також може сподобатись</h2>
        <div class=" owl-two owl-carousel owl-theme">
            {% for product in products %}
                <div class="wrapper">
                    <div class="item">
                        <img src="{{ product.photo.url }}">
                        <a href="product?name={{ product.name }}">
                            <div class="item-description">
                                <h2>{{ product.name }}</h2>
                                <h2>$ {{ product.price }}</h2>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="../../static/main/js/counter.js"></script>
    {% include "main/includes/footer.html" %}
{% endblock %}