<link rel="stylesheet" href="../../static/main/css/footer.css">

<footer class="padding_4x">
  <div class="flex">
      <div class="website-name">
          <h3>MEFIS</h3>
        </div>
        <div class="website-info">
          <h3>Контактна інформація</h3>
          <p>+ 38 050 203 91 32</p>
          <p>howlxfamily@gmail.com</p>
          <p>м. Київ, вул. Хрещатик 42</p>
        </div>

    <div class="footer-email">
        <p>
            Підпишіться на розсилання та отримайте повідомлення щодо знижок
        </p>
            <form action="">
                <input type="email" name="" id="" placeholder="Введіть вашу пошту">

                <button class="email-button-footer"><i class="arrow-3 right"></i></button>
            </form>
    </div>
  </div>
</footer>