<link rel="stylesheet" href="../../static/main/css/header.css">

<header class="header">
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">Mefis</a>
        </div>
        <div class="main-menu">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                <li><a href="catalog?category=Стільці">Стільці</a></li>
                <li><a href="catalog?category=Столи">Столи</a></li>
                <li><a href="catalog?category=Лампи">Лампи</a></li>
                <li><a href="catalog?category=Ліжка">Ліжко</a></li>
                <li><a href="catalog?category=Дивани">Диван</a></li>
            </ul>
        </div>

            <img class="shopping-bag-icon" src="../../../static/main/img/icons8-shopping-bag-50%201.png">
        <img class="profile-bag-icon" src="../../../static/main/img/icons8-shopping-bag-50%201.png">

    </nav>
</header>