<link rel="stylesheet" href="../../static/main/css/header.css">

<header class="header">
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">Mefis</a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul class="menu">
            <li><a href="{% url 'catalog' %}">Стільці</a></li>
            <li><a href="{% url 'catalog' %}">Столи</a></li>
            <li><a href="{% url 'catalog' %}">Лампи</a></li>
            <li><a href="{% url 'catalog' %}">Ліжко</a></li>
            <li><a href="{% url 'catalog' %}">Диван</a></li>
        </ul>
    </nav>
</header>