* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



/********* MAIN BANNER ***********************************************************/

.main-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/main-page-background.jpg') no-repeat center center;
  background-size: cover;
  padding: 170px 0px 270px 0px;
  text-align: center;
  height: 950px;
}

.white-button {
    height: 150px;
    width: 150px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
}

.white-button a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 43.66667%;
    opacity: 0.4;
    transition: 0.2s all ease-in-out;
}

.white-button a:hover {
    opacity: 1;
}

@media (min-width: 576px) {
  .main-banner {
    padding: 270px 0px 400px 0px;
  }
}

.main-banner h6 {
  font-weight: 200;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-banner h2 {
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
}

/*CAROUSEL*/

.home-demo {
  background-color: white;
  height: 950px;
}

@media (max-width: 400px) {
  .home-demo .item {
    margin-top: 50px;
    height: 600px;
    background: #ff3f4d;
  }
}

@media (min-width: 401px) and (max-width: 1000px) {
  .home-demo .item {
    margin-top: 50px;
    height: 400px;
    background: #ff3f4d;
  }
}

@media (min-width: 1001px) {
  .home-demo .item {
    margin-top: 50px;
    height: 400px;
    background: #ff3f4d;
  }
}

.home-demo h1 {
  margin-top: -2px;
}

.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.home-demo h3 {
  font-weight: 200;
  margin-bottom: 0;
}

.six-categories {
  height: 950px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-gap: 50px;
  justify-content: center;
  background-color: black;
}

/*SIX CATEGORIES*/

.six-categories .item {
  background-color: blue;
  width: 170px;
  height: 300px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 15px 20px;
    color: black;
    flex: 1;
}
form input[type= 'email']{
    flex: 1;
    font-size: 1.3em;
}
form input[type= 'submit']{
     background-color: black;
    color: #fff;
    border-left: 2px solid #f1f1f1;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
}
form input[type= 'submit']:hover{
    opacity: .7;
}
